include LICENSE
include README.md
include requirements.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat

include versioneer.py
include suitcase/specfile/_version.py

include suitcase/specfile/tests/data_from_suitcase_v0.7.0/*
include suitcase/specfile/tests/documents/*
